@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-size: 10px;
}

/*   ****************************NAVBAR*********************** */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BF9759;
  z-index: 1;
}

.header >img{
  width :100px;
  height: auto;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
 color: skyblue;
}

.menu {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.menu:hover {
  color: skyblue;
}
/* ******************************FIN NAVBAR*********************** */




/* ****************************Contact*********************** */

/* Modifier la section .contact */
.section.contact {
  background: url(./Images/palmier.jpg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #777;
}

section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./Images/palmier.jpg) no-repeat;
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  position:relative;
}

.form {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top:10%;
  margin:10%;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #bf9757;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: skyblue;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}





/**********************************************Contact Icones*************************************************/

.contact-icons {
  text-align: center;
}

.contact-icons ul {
  list-style: none;
  padding: 0;
  margin-top: 20px; /* Add some space between the form and icons */
}

.contact-icons ul li {
  display: inline;
  margin-right: 1px; /* Add spacing between icon links */
}

.contact-icons ul li a {
  text-decoration: none;
  color: #bf9759;
  transition: color 0.3s ease;
  font-size: 25px;
}

.contact-icons ul li a:hover {
  color: skyblue;
}


/**********************************************Fin Contact Icones*************************************************/





/*   ****************************fIN Contact*********************** */




/*   ****************************CartesGOOGLE_MAPS*********************** */
.map{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-color: #E3D9D7;
}
.map_div2 h4{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  padding:2%;
}

.map_div2{
 margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
  color: #000;
  text-align: center  
}

.map_contour{
   margin-top: 1%;
   border-radius: 3%;
   overflow: hidden;
}

/*   ****************************CartesGOOGLE_MAPS*********************** */




/*   ****************************FOOTER*********************/
footer {
    background-color: #2A2C2B;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    font-size: 15px;
  }
  .footer-colonne {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-colonne h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color:skyblue;
  }
  
  .footer-colonne ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-colonne ul li {
    font-size: 15px;
    padding: 1.5%;
  }
  
  .footer-colonne ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  
  .footer-colonne ul li a:hover {
    color: skyblue;
  }
  /* ****************************FIN FOOTER*********************** */