@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100%; 
  display: grid;
  align-items: center;
  background-color:skyblue;
}

/*   ****************************NAVBAR*********************** */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BF9759;
  z-index: 1;
}

.header >img{
  width :100px;
  height: auto;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
 color: skyblue;
}

.menu {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.menu:hover {
  color: skyblue;
}
/* ******************************FIN NAVBAR*********************** */
/* ****************************Contact*********************** */
.contact-in{
  width: 80%;
  height: auto;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  padding: 10


}



  /*   ****************************fIN Contact*********************** */
  /**********************************************Contact Icones*************************************************/

  .contact-icons {
    text-align: center;
  }

  .contact-icons ul {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Add some space between the form and icons */
  }

  .contact-icons ul li {
    display: inline;
    margin-right: 1px; /* Add spacing between icon links */
  }

  .contact-icons ul li a {
    text-decoration: none;
    color: #bf9759;
    transition: color 0.3s ease;
    font-size: 25px;
  }

  .contact-icons ul li a:hover {
    color: skyblue;
  }


  /**********************************************Fin Contact Icones*************************************************/


/*   ****************************FOOTER*********************/
footer {
    background-color: #2A2C2B;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    font-size: 15px;
  }
  .footer-colonne {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-colonne h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color:skyblue;
  }
  
  .footer-colonne ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-colonne ul li {
    font-size: 15px;
    padding: 1.5%;
  }
  
  .footer-colonne ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  
  .footer-colonne ul li a:hover {
    color: skyblue;
  }
  /* ****************************FIN FOOTER*********************** */