@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Quando', serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-size: 10px;
}

/*   ****************************NAVBAR*********************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BF9759;
  z-index: 1;
}

.header >img{
  width :100px;
  height: auto;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
 color: skyblue;
}

.menu {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.menu:hover {
  color: skyblue;
}
/*   ****************************FIN NAVBAR*********************** */

/* ****************************Accueil*********************** */

section.accueil{
  background: url(./Images/beach.jpg) no-repeat; 
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  position:relative;
}
#titre1{
  font-family: Quando;
  font-size: 60px;
  color:white;
  position: absolute;
  margin-top: 85vh;
  margin-left: 16vw;
  font-family: 'Montserrat', sans-serif;
}


/* ****************************Fin Accueil*********************** */

/* ****************************Bar de recherche*********************** */











/* ****************************Bar de recherche*********************** */ 

/* ****************************Cards*********************** */

.card{
  background-color:#E3D9D7;
  min-height: 100vh;  
  background-size: cover;
  background-position: center;
  color: black;
}

  #titre2{
  font-family: Quando;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding: 3%;
  font-family: 'Montserrat', sans-serif;
}


/* ****************************Fin Cards*********************** */

/* ****************************Bar de recherche*********************** */











/* ****************************Bar de recherche*********************** */

/* ****************************FOOTER*********************** */

.footer {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background:black;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
/* ****************************FIN FOOTER*********************** */