@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quando&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Quando', serif; */

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size:large;
    color: white;
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #E3D9D7;
}

/* Navbar */
.navbar {
    background-color: #bf9759;
    width: 100%;
    height: 100%;
    padding: 5%;
    color: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5vw; 
  }
  
  /*Logo */
  #logo1 {
    width: 100px; 
    height: auto; 
  }
  
  /*Navmenu */
  .navmenu {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
  }
  
  /*menu */
  .menu {
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .menu a {
    text-decoration: none; 
    color: #fff; /
  }
  
  .menu a:hover {
    text-decoration: underline;
  }


footer{
    background-color: #FFE347;
    width: 100%;
    height: 150px;
}

/* Carte */

.card{
  border-color: #232E21;
  width: 400px;
  height: 300px;
  margin: 20px;
  background-image: url(../Images/Stockholm.jpg);
  background-size: cover;
}